#conteneur {
    display: flex;
    justify-content: flex-start;
    border: solid black 2px;
    padding: 50px;
    border-radius: 10px;
}

.element1 {
    border: solid orange 2px;
    padding: 25px;
    border-radius: 10px;
}

.element2 {
    border: solid blue 2px;
    padding: 25px;
    border-radius: 10px;
}

.element3 {
    border: solid green 2px;
    padding: 25px;
    border-radius: 10px;
}